@model NomDuProjet.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
    var bubbleChartData = ViewData["BubbleChartData"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Movie" asp-action="Index">
    <p>
        <label>Title -- Post: <input type="text" name="searchTerm" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<form asp-controller="Movie" asp-action="Index" method="get">
    <p>
        <label>Title -- Get: <input type="text" name="searchTerm" /></label>
        <input type="submit" value="Filter" />

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
<h1>Graphique</h1>
<div style="width: 80%; margin: auto;">
    <canvas id="bubbleChart"></canvas>
</div>
<script>
    const ctx = document.getElementById('bubbleChart').getContext('2d');

    const data = @Html.Raw(Json.Serialize(bubbleChartData));

    const bubbleChart = new Chart(ctx, {
        type: 'bubble',
        data: {
            datasets: data.Datasets
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
    </tbody>
</table>
